@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="site.js"></script>

@model GameText
<body>
    <div id="passage">
        <div id="text">

            @Model.StoryPassage
            @*pull text from database*@

            <script>
              var inputTxt = " @Model.StoryPassage ";
            </script>

        </div>
        <div id="options">
            @*foreach loop, use hyperlinks(generate hyperlinks with passageid in them)*@

            @foreach (var option in Model.OptionList)
            {
                <a asp-controller="Game" asp-action="Index" asp-route-id="@option.GameTextId">@option.Text</a>
                <script>
                    var txtOptions = ' @option.Text ';
                    //TODO: only plays last option.
                </script>
            }
        </div>
    </div>

    <div id="portrait">
        This is where the character portrait will go.
    </div>

    <div id="inventory">
        This is where the inventory will go.
    </div>

</body>

@*questions for 3/29/2021
    1. how do we connect api information to cshtml
    2. can we get the scaffolding to work
    3. how to get routing to work with the gametext api controller
    4.

*@
<form>
    <div>
        <label for="rate">Rate</label><input type="range" min="0.5" max="2" value="1" step="0.1" id="rate">
        <div class="rate-value">1</div>
        <div class="clearfix"></div>
    </div>
    <div>
        <label for="pitch">Pitch</label><input type="range" min="0" max="2" value="1" step="0.1" id="pitch">
        <div class="pitch-value">1</div>
        <div class="clearfix"></div>
    </div>
    <select>
    </select>
    <div class="controls">
        <button id="play" type="submit">Play</button>
    </div>
</form>